---
export interface Props {
  project: any;
}

import GithubIcon from "@components/icons/Github.astro";
import EyeIcon from "@components/icons/Eye.astro";

const baseGitUrl = "https://github.com/zeroproject-dev";

const { project } = Astro.props;
---

<div
  class="inline-block w-[165px] h-[130px] absolute rounded-lg bg-center bg-cover transition-all item bottom-16 hover:scale-105 cursor-pointer"
  style={`background-image: url(${project.image});`}
>
  <div class="max-w-[300px] h-full text-left opacity-0 pl-2 content">
    <span class="text-2xl font-bold">{project.title}</span>
    <div class="desc">{project.description}</div>
    <div class="flex gap-x-2 items-center">
      <a
        href={`${baseGitUrl}/${project.repo}`}
        target="_blank"
        rel="noreferrer noopener"
        aria-label={`Github ${project.title}`}
      >
        <GithubIcon />
      </a>
      {
        project.preview && (
          <a
            target="_blank"
            aria-label={`Preview ${project.title}`}
            rel="noreferrer noopener"
            href={project.preview}
          >
            <EyeIcon />
          </a>
        )
      }
    </div>
  </div>
</div>

<style>
  .item {
    transition: all 0.5s;
    bottom: 4rem;
  }

  .item:nth-child(1),
  .item:nth-child(2) {
    cursor: inherit;
    transform: translate(0, 0) !important;
    width: 100% !important;
    left: 0;
    right: 0;
    bottom: 3rem;
    height: calc(100% - 6rem) !important;
    background-size: cover;
  }

  .item:nth-child(3) {
    left: calc(50% - 82px);
  }

  .item:nth-child(4) {
    left: calc(50% + 90px);
  }

  .item:nth-child(5) {
    left: calc(50% + 262px);
  }

  .item:nth-child(6) {
    left: calc(50% + 433px);
  }

  .item:nth-child(n + 7) {
    left: calc(50% + 1000px);
    display: none;
  }

  .item:nth-child(2) .content {
    opacity: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      at left,
      rgba(25, 25, 25, 1) 0%,
      rgba(25, 25, 25, 0.8) 10%,
      rgba(25, 25, 25, 0.5) 45%,
      rgba(0, 0, 0, 0.01) 70%
    );

    transition: all 0.5s;
  }
</style>
